RewriteEngine On
Options +FollowSymLinks

RewriteCond %{REQUEST_URI} !^/assets [NC]
ErrorDocument 404 /html/not_found.php

# HTML: endpoints that return html for webrequests.
RewriteRule ^users/new/?$                   /html/users/new.php                              [NC,QSA,L]
RewriteRule ^users/([^/]*)/charges/new/?$   /html/charges/new.php?user_name_or_id=$1         [NC,QSA,L]
RewriteRule ^users/([^/]*)/charges/?$       /html/charges/list.php?user_name_or_id=$1        [NC,QSA,L]
RewriteRule ^charges/([^/]*)/?$             /html/charges/edit.php?charge_id=$1              [NC,QSA,L]

# API: endpoints that return json.
RewriteRule ^api/v1/users/new/?$                /api/users/new.php                           [NC,QSA,L]
RewriteRule ^api/v1/charges/new/?$              /api/charges/new.php                         [NC,QSA,L]
RewriteRule ^api/v1/charges/([^/]*)/delete/?$   /api/charges/delete.php                      [NC,QSA,L]
